.header__courses {
  margin: 0 auto;
  background: #ffffff;
  padding: 22px 0;
  width: 100%;
}
.block__content_header {

}
.header__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  @include before-md() {
    flex-flow: column;
  }
}

.header__menu {
  margin-left: 20px;
  @include before-md(){
    margin-left: unset;
  }
}
.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  max-width: 180px;
  width: 100%;

  img {

    object-fit: contain;
    max-width: 180px;
    width: 100%;
  }
  @include before-md(){
    padding-bottom: 20px;
  }
}
.menu {
  display: flex;
  align-items: center;
  li {
    margin-right: 40px;
    transition: ease-in-out all 0.3s;
    &:hover {
      transform: translateY(-2px);
    }

    a {
      font-weight: 700;
      font-size: 18px;

    }
    &:last-child {
      margin-right: 0;
    }
  }
  @include before-md(){
    flex-flow: column;
    li {
      margin-right: 0;
    }
    a {
      font-size: 16px;
    }
  }
}