


//=========================CARD===========================================//
.card__grid {
  display: grid;
  width: 100%;
  grid-template-columns: minmax(250px, 420px) minmax(250px, 417px) minmax(200px, 250px);
  grid-template-rows: repeat(2, auto);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  background: #ffffff;
  margin-top: 60px;
  padding: 20px;

  @include before-lg() {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(4, auto);
    grid-column-gap: 20px;
    grid-row-gap: 20px;

    .card__grid-item_1 {
      grid-area: 1 / 1 / 2 / 2;
    }
    .card__grid-item_2 {
      grid-area: 2 / 1 / 4 / 2;
    }
    .card__grid-item_3 {
      grid-area: 4 / 1 / 5 / 2;
    }
    .card__grid-item_4 {
      grid-area: 4 / 2 / 5 / 3;
    }
    .card__grid-item_5 {
      grid-area: 1 / 2 / 4 / 3;
    }
    .card__course-pluses{
      margin-left: 0;
    }
  }
  @include before-sm(){
    grid-template-columns: repeat(1, auto);
    .card__grid-item{
      grid-area: unset;
    }

  }


}


.card__grid-item_1 {
  grid-area: 1 / 1 / 2 / 2;
  max-width: 420px;
  width: 100%;

  video {
    max-width: 420px;
    width: 100%;
    max-height: 180px;
    height: 100%;
  }
}

.card__grid-item_2 {
  grid-area: 1 / 2 / 2 / 3;
  max-width: 415px;
  width: 100%;
}

.card__grid-item_3 {
  grid-area: 2 / 1 / 3 / 2;
}

.card__grid-item_4 {
  grid-area: 2 / 2 / 3 / 3;
}

.card__grid-item_5 {
  grid-area: 1 / 3 / 3 / 4;
}


.card__img {
  margin-bottom: 15px;
  overflow: hidden;
  max-height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    object-fit: contain;

  }
}

.card__title {

  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 25px;
}

.card__rating-table {
  display: grid;
  margin-bottom: 18px;
  max-width: 255px;
  width: 100%;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;

}

.card__rating-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__rating-item_star {
  display: flex;
  align-items: center;

  svg {
    margin-right: 2px;
  }

  &:last-child {
    svg {
      margin-right: 0;
    }
  }
}

.card__score {
  display: flex;
  align-items: center;

  p {
    margin-left: 5px;
  }

}

.card__rating-item_score {
  display: flex;
  align-items: center;
}

.card__rating-reviews-number {
  font-size: 18px;
  font-weight: 400;
  white-space: nowrap;
}

.card__rating-sum {
  font-size: 18px;
  font-weight: 400;
  margin-right: 10px;
  white-space: nowrap;

}

.card__score_like {
  margin-right: 10px;
}

.card__rating-item_score p {
  font-size: 16px;
  font-weight: 400;
}

.card__rating-description {
  padding-top: 30px;
  max-width: 415px;
  width: 100%;
  border-top: 1px solid #B6B6B6;

}

.card__course-pluses {
  margin-left: 15px;

  li {
    margin-left: 25px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-style: normal;
    font-weight: 400;
  }
}

.card__pluses-title {
  color: #14B11B;
  font-size: 20px;
  font-weight: 700;
}

.card__course-minuses {
  li {
    margin-left: 25px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-style: normal;
    font-weight: 400;
  }
}

.card__minuses-title {
  color: #A00;
  font-size: 20px;
  font-weight: 700;
}

.card__course-price {
  margin-bottom: 15px;
  font-size: 18px;

  span {
    font-weight: 700;
  }
}

.card__course-btn {
  margin-bottom: 10px;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
  display: flex;
  padding: 18px 10px;
  max-width: 254px;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: #D93;
  transition: ease-in-out all 0.3s;

  &:hover {
    opacity: 0.6;

  }

}


.card__course-services {
  li {
    list-style-type: none;
  }
}

.card__course-info {
  p {
    margin-top: 15px;
  }
  ol,ul {
    padding-left: 18px;
  }
}
.mdp-liker-buttons {
  display: flex;
  align-items: center;
}
.mdp-liker-box .mdp-liker-buttons button span {
  border-left: none;
}


#mdp-liker-btn-1{
  background:url("../images/like-svgrepo-com1.svg") no-repeat left;
  background-size: contain;
  margin: unset;
  padding-left:12px;

  font-size: 16px;
  font-weight: 600;
}
#mdp-liker-btn-3{
  background:url("../images/like-svgrepo-com2.svg") no-repeat left;
  background-size: contain;
  margin:0 0 0 15px;
  padding-left: 12px;

  font-size: 16px;
  font-weight: 600;
}

//=========================/CARD===========================================//

//================= slats =================
.slats {
  margin: 0 auto;
}
.block__content_slats {
  margin-top: 100px;
}

.slats__item {
  background: #ffffff;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 20px 50px 20px 100px;
}

.slats__item {
  margin-bottom: 30px;
  background: #ffffff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 50px 20px 100px;
  @include before-lg{
    padding: 20px 30px 20px 50px;
  }
  @include before-md{
    flex-flow: column;
    align-items: center;
    height: auto;
  }
  @include before-sm{
    padding: 10px 15px 10px 15px;
    align-items: center;

  }
}
.slats__img{
  max-width: 200px;
  width: 25%;
  overflow: hidden;
  img{
    object-fit: contain;
    max-height: 150px;
  }
  @include before-md{
    width: 100%;
    margin-bottom: 30px;

  }
}
.slats__text-group{
  padding-left: 30px;
  width: 75%;
  overflow: hidden;
  @include before-md{
    padding-left: 0;
    max-width: 500px;
    width: 100%;
  }
}
.slats__title{
  margin-bottom: 15px;
  font-size: 25px;
  font-weight: 700;
  @include before-md{
    font-size: 20px;
  }
  @include before-sm{
    font-size: 18px;
    text-align: center;

  }
}
.slats__text{

  text-wrap: normal;
  @include before-sm{
    font-size: (calc(14px + 2 * ((100vw - 320px) / 860)));
    height: 100%;
  }
}

//================= /slats =================

//================= сontent-courses=================

.content-courses {
  width: 100%;
  margin: 30px 0 50px;


}

.block__content_content-courses {

}

.content-courses__list-wrapper {
  background: #ffffff;
  padding: 20px;
}

.content-courses__title {
  font-weight: 700;
  font-size: 26px;
}

.content-courses__list {
  margin: 150px auto 50px;
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 1000px;
  width: 100%;
  @include before-xl() {
    margin: 80px auto 40px;

  }

}

.content-courses__item {
  display: flex;
  width: 100%;
  padding: 20px 0;
  border-top: 1px solid #000000;

  cursor: pointer;

  overflow: hidden;
  flex-flow: column;
  background: #ffffff;

  &:last-child {
    border-bottom: 1px solid #000000;

  }

  .content-courses__text {
    @include before-sm() {
      font-size: 12px !important;
    }
  }

  &.active {
    overflow: unset;

    .content-courses__text {
      font-size: 16px;
      opacity: 1;

    }
    .content-courses__item-btn_1 {
      transform: rotate(180deg) translateX(51%);
    }

    .content-courses__item-btn_2 {
      transform: rotate(0deg) translateX(-50%);
    }
  }

}

.content-courses__title-row {
  display: flex;
  align-items: center;
  width: 100%;


}

.content-courses__item-counter {
  font-weight: 700;
  font-size: 18px;
}

.content-courses__item-title {
  font-weight: 700;
  font-size: 18px;
  padding-right: 5px;
  @include before-sm() {
    font-size: 14px;
  }
}

.content-courses__item-btn-group {
  margin-left: auto;
  height: 30px;
  width: 30px;
  position: relative;
  margin-right: 2px;

  border-radius: 50%;
  border: 2px solid #000000;
  cursor: pointer;
  transition: ease-in-out all 0.3s;

  &:hover {
    transform: scale(1.05);
  }
}

.content-courses__item-btn {

  width: 15px;
  height: 2px;
  background: #000000;
  position: absolute;
  top: 12px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
  transition: ease-in-out all 0.3s;

}

.content-courses__item-btn_2 {
  transform: translateX(-50%) rotate(90deg);
}

.content-courses__text {
  transition: ease-in-out all 0.3s;
  height: 0;
  opacity: 0;


}

//================= /сontent-courses=================

//================== reviews =================//
.reviews{
  margin-bottom: 50px;
}
.reviews__content{
  background: #ffffff;
  padding: 30px 40px;
}
.reviews_title{
  margin-bottom: 35px;
  font-size: 25px;
  font-weight: 700;
}
.reviews__table{
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 550px));
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  @include before-md{
    grid-template-columns: repeat(1, minmax(300px, 550px));
  }
  @include before-sm{
    grid-template-columns: repeat(1, minmax(200px, 550px));
  }

}
.reviews__table-item{
  padding: 20px;
  border: 1px solid #E2E2E2;
}
.reviews__top{
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include before-sm{
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
}
.reviews__name{
  margin-right: 20px;
  max-width: 430px;
  width: 100%;
  @include before-lg{
    strong{
      font-size: 14px;
    }
  }
  @include before-md{
    margin-right: 0;
    strong{
      font-size: 16px;
    }
  }
  @include before-sm{
    margin-bottom: 10px;
    strong{
      font-size: 14px;
    }
  }
}
.reviews__name-title{
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
  @include before-lg{
    font-size: 18px;
  }
}
.reviews__stars{
  display: flex;
  font-size: 16px;
}
.reviews__text{
  @include before-sm{
    font-size: 14px;

  }
}



//================== /reviews =================//


