//================= slats =================
.slats {
  margin: 0 auto;
}
.block__content_slats {

}
.slats__item {
  background: #ffffff;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 20px 50px 20px 100px;
}
//================= /slats =================