@charset "UTF-8";
*, *:before, *:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html, body {
  height: 100%;
  background: #ffffff;
  scroll-behavior: smooth;
}

p, em, strong, ul, li, span, h1, h2, h3, h4, h5, h6, div, a, button {
  font-family: open sans;
  font-size: 16px/1.1;
}

main {
  margin: 0 auto;
}

img {
  width: 100%;
}

button {
  cursor: pointer;
  border: none;
  background: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

.wrapper {
  min-height: 100vh;
  scrollbar-width: none !important;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  position: relative;
  overflow: hidden;
  background: #EDEDED;
}

.block__content {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  padding: 0 20px;
  display: flex;
  flex-flow: column;
  width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 576px) {
  .block__content {
    max-width: 540px;
  }
}
@media screen and (min-width: 768px) {
  .block__content {
    max-width: 720px;
  }
}
@media screen and (min-width: 992px) {
  .block__content {
    max-width: 960px;
  }
}
@media screen and (min-width: 1240px) {
  .block__content {
    max-width: 1240px;
  }
}
@media screen and (max-width: 767px) {
  .block__content {
    padding: 0 10px;
  }
}

.block__anchor {
  position: absolute;
  top: 0;
}

.responsive-block {
  position: relative;
  width: 130px;
}
.responsive-block:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.responsive-block__content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.header__courses {
  margin: 0 auto;
  background: #ffffff;
  padding: 22px 0;
  width: 100%;
}

.header__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .header__row {
    position: relative;
  }
}

.header__menu {
  margin-left: 20px;
}
@media screen and (max-width: 767px) {
  .header__menu {
    margin-left: unset;
    position: absolute;
    right: 0;
    width: 100%;
  }
}

.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  max-width: 180px;
  width: 100%;
}
.header__logo img {
  object-fit: contain;
  max-width: 180px;
  width: 100%;
}
.menu {
  display: flex;
  align-items: center;
}
.menu li {
  margin-right: 40px;
  transition: ease-in-out all 0.3s;
}
.menu li:hover {
  transform: translateY(-2px);
}
.menu li a {
  font-weight: 700;
  font-size: 18px;
}
.menu li:last-child {
  margin-right: 0;
}
@media screen and (max-width: 767px) {
  .menu {
    flex-flow: column;
  }
  .menu li {
    margin-right: 0;
  }
  .menu a {
    font-size: 16px;
  }
}

.block__content_filter {
  padding: 30px 20px 10px;
}

.filter {
  width: 100%;
}

select {
  cursor: pointer;
  height: 50px;
  border: 1px solid #e2e2e2;
  font-size: 16px;
  text-indent: 17px;
  appearance: none;
  border-radius: 0;
  background: url(../images/icons8.png) no-repeat calc(100% - 20px) center;
}

.filter__btn-list {
  padding-right: 10px;
}

.filter__row {
  display: flex;
  align-items: center;
}
.filter__row p {
  margin-right: 20px;
  font-weight: 700;
  font-size: 16px;
}

.filter__btn-list {
  max-width: 320px;
  width: 100%;
}
@media screen and (max-width: 575px) {
  .filter__btn-list {
    font-size: 14px;
  }
}

.wpulike-updown-voting {
  min-width: 123px;
}

.card__grid {
  display: grid;
  width: 100%;
  grid-template-columns: minmax(250px, 420px) minmax(250px, 410px) minmax(200px, 270px);
  grid-template-rows: minmax(150px, auto) auto auto;
  grid-column-gap: 30px;
  grid-row-gap: 15px;
  background: #ffffff;
  margin-top: 20px;
  padding: 20px;
}
@media screen and (max-width: 991px) {
  .card__grid {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(5, auto);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
  .card__grid .card__grid-item_1 {
    grid-area: 1/1/2/2;
  }
  .card__grid .card__grid-item_2 {
    grid-area: 2/1/3/2;
  }
  .card__grid .card__grid-item_3 {
    grid-area: 3/1/4/2;
  }
  .card__grid .card__grid-item_4 {
    grid-area: 4/1/5/2;
  }
  .card__grid .card__grid-item_5 {
    grid-area: 4/2/5/3;
  }
  .card__grid .card__grid-item_6 {
    grid-area: 1/2/4/3;
  }
  .card__grid .card__course-pluses {
    margin-left: 0;
  }
}
@media screen and (max-width: 767px) {
  .card__grid {
    grid-template-columns: repeat(1, auto);
  }
  .card__grid .card__grid-item {
    grid-area: unset;
  }
  .card__grid .card__grid-item_1 {
    grid-area: 2/1/3/2;
  }
  .card__grid .card__grid-item_2 {
    grid-area: 1/1/2/2;
  }
  .card__grid .card__grid-item_3 {
    grid-area: 3/1/4/2;
  }
  .card__grid .card__grid-item_4 {
    grid-area: 5/1/6/2;
  }
  .card__grid .card__grid-item_5 {
    grid-area: 6/1/7/2;
  }
  .card__grid .card__grid-item_6 {
    grid-area: 4/1/5/2;
  }
}

.card__grid-item_1 {
  grid-area: 1/1/3/2;
  max-width: 420px;
  width: 100%;
}
.card__grid-item_1 .card__video {
  max-width: 420px;
  max-height: 236px;
}
.card__grid-item_1 video {
  width: 100%;
  height: 100%;
}

.card__grid-item_2 {
  grid-area: 1/2/2/3;
  max-width: 415px;
  width: 100%;
}

.card__grid-item_3 {
  grid-area: 2/2/3/3;
}

.card__grid-item_4 {
  grid-area: 3/1/4/2;
}

.card__grid-item_5 {
  grid-area: 3/2/4/3;
}

.card__grid-item_6 {
  grid-area: 1/3/4/4;
  border-left: 1px solid #e2e2e2;
  padding-left: 20px;
}
@media screen and (max-width: 575px) {
  .card__grid-item_6 {
    border-left: unset;
    padding-left: 0;
  }
}

.card__img {
  margin-bottom: 15px;
  overflow: hidden;
  max-height: 236px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card__img img {
  object-fit: contain;
}

.card__title {
  font-size: 22px;
  font-style: normal;
  font-weight: 800;
  margin-bottom: 16px;
  line-height: 1.2;
}

.card__rating-table {
  display: grid;
  max-width: 255px;
  width: 100%;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  font-size: 18px;
}
@media screen and (max-width: 575px) {
  .card__rating-table {
    grid-template-columns: repeat(1, 1fr);
  }
  .card__rating-table .card__rating-item_3 {
    display: none;
  }
  .card__rating-table .card__rating-reviews-number {
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: -5px;
  }
  .card__rating-table .card__rating-item_4 {
    margin-left: 20px;
  }
}

.wpulike {
  padding: 0;
}

.card__rating-item_2 {
  margin-right: 15px;
}

.card__rating-item_3 {
  margin-top: 5px;
}

.card__rating-item_4 {
  margin-right: 15px;
  margin-top: 5px;
}

.card__rating-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.card__rating-item_star {
  display: flex;
  align-items: center;
  margin-right: 0px;
}
.card__rating-item_star svg {
  margin-right: 2px;
}
.card__rating-item_star:last-child svg {
  margin-right: 0;
}

.card__score {
  display: flex;
  align-items: center;
}
.card__score p {
  margin-left: 5px;
}

.card__rating-item_score {
  display: flex;
  align-items: center;
}

.wpulike-updown-voting .wp_ulike_put_image.wp_ulike_btn_is_active:after {
  filter: unset;
}

.card__rating-reviews-number {
  font-size: 18px;
  font-weight: 400;
  white-space: nowrap;
}

.card__rating-sum {
  font-size: 18px;
  font-weight: 400;
  margin-right: 10px;
  white-space: nowrap;
}

.card__score_like {
  margin-right: 10px;
}

.card__rating-item_score p {
  font-size: 16px;
  font-weight: 400;
}

.card__rating-description {
  padding-top: 20px;
  max-width: 415px;
  width: 100%;
  border-top: 1px solid #e2e2e2;
  line-height: 1.7;
}
.card__rating-description p {
  margin-bottom: 15px;
}

.card__course-pluses {
  margin-left: 15px;
}
.card__course-pluses li {
  margin-left: 25px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-style: normal;
  font-weight: 400;
}

.card__pluses-title {
  color: #14B11B;
  font-size: 25px;
  font-weight: 700;
}

.card__course-minuses li {
  margin-left: 25px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-style: normal;
  font-weight: 400;
}

.card__minuses-title {
  color: #A00;
  font-size: 25px;
  font-weight: 700;
}

.card__course-price {
  margin-bottom: 15px;
  font-size: 18px;
}
.card__course-price span {
  font-weight: 700;
}

.card__course-btn {
  margin-bottom: 10px;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
  display: flex;
  padding: 15px;
  line-height: 1.25em;
  max-width: 278px;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: #D93;
  transition: ease-in-out all 0.3s;
}
.card__course-btn:hover {
  opacity: 0.6;
}

.card__course-services li {
  list-style-type: none;
}

.card__course-info p {
  margin-bottom: 15px;
}
.card__course-info p:nth-child(1) {
  margin-top: 15px;
}
.card__course-info ol, .card__course-info ul {
  padding-left: 18px;
}

.slats {
  margin: 0 auto;
}

.block__content_slats {
  margin: 30px 0 30px;
}

.slats__item {
  background: #ffffff;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding: 20px 50px 0 100px;
}

.slats__item {
  background: #ffffff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 30px 50px 20px 100px;
}
@media screen and (max-width: 991px) {
  .slats__item {
    padding: 20px 30px 20px 50px;
  }
}
@media screen and (max-width: 767px) {
  .slats__item {
    flex-flow: column;
    align-items: center;
    height: auto;
  }
}
@media screen and (max-width: 575px) {
  .slats__item {
    padding: 10px 15px 10px 15px;
    align-items: center;
  }
}

.slats__img {
  max-width: 200px;
  width: 25%;
  overflow: hidden;
}
.slats__img img {
  object-fit: contain;
  max-height: 150px;
}
@media screen and (max-width: 767px) {
  .slats__img {
    width: 100%;
    margin-bottom: 30px;
  }
}

.slats__text-group {
  padding-left: 30px;
  width: 75%;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  .slats__text-group {
    padding-left: 0;
    max-width: 500px;
    width: 100%;
  }
}

.slats__title {
  margin-bottom: 15px;
  font-size: 25px;
  font-weight: 700;
}
@media screen and (max-width: 767px) {
  .slats__title {
    font-size: 20px;
  }
}
@media screen and (max-width: 575px) {
  .slats__title {
    font-size: 18px;
    text-align: center;
  }
}

.slats__text {
  text-wrap: normal;
}
.slats__text p {
  margin-bottom: 15px;
}
.slats__text ul {
  padding-left: 20px;
  margin-bottom: 15px;
}
@media screen and (max-width: 575px) {
  .slats__text {
    font-size: calc(14px + 2 * (100vw - 320px) / 860);
    height: 100%;
  }
}

.content-courses {
  width: 100%;
  margin: 30px 0 25px;
}

.content-courses__list-wrapper {
  background: #ffffff;
  padding: 20px;
}

.content-courses__title {
  font-weight: 700;
  font-size: 32px;
}
@media screen and (max-width: 767px) {
  .content-courses__title {
    font-size: 24px;
  }
}

.content-courses__list {
  margin: 70px auto 50px;
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 1000px;
  width: 100%;
}
@media screen and (max-width: 1239px) {
  .content-courses__list {
    margin: 80px auto 40px;
  }
}

.content-courses__item {
  display: flex;
  width: 100%;
  padding: 20px 0;
  border-top: 1px solid #000000;
  cursor: pointer;
  overflow: hidden;
  flex-flow: column;
  background: #ffffff;
}
.content-courses__item:last-child {
  border-bottom: 1px solid #000000;
}
@media screen and (max-width: 575px) {
  .content-courses__item .content-courses__text {
    font-size: 12px !important;
  }
}
.content-courses__item.active {
  overflow: unset;
}
.content-courses__item.active .content-courses__text {
  font-size: 16px;
  opacity: 1;
}
.content-courses__item.active .content-courses__item-btn_1 {
  transform: rotate(180deg) translateX(51%);
}
.content-courses__item.active .content-courses__item-btn_2 {
  transform: rotate(0deg) translateX(-50%);
}

.content-courses__title-row {
  display: flex;
  align-items: center;
  width: 100%;
}

.content-courses__item-counter {
  font-weight: 700;
  font-size: 18px;
}

.content-courses__item-title {
  font-weight: 700;
  font-size: 18px;
  padding-right: 5px;
}
@media screen and (max-width: 575px) {
  .content-courses__item-title {
    font-size: 14px;
  }
}

.content-courses__item-btn-group {
  margin-left: auto;
  height: 30px;
  width: 30px;
  position: relative;
  margin-right: 2px;
  border-radius: 50%;
  border: 2px solid #000000;
  cursor: pointer;
  transition: ease-in-out all 0.3s;
}
.content-courses__item-btn-group:hover {
  transform: scale(1.05);
}

.content-courses__item-btn {
  width: 15px;
  height: 2px;
  background: #000000;
  position: absolute;
  top: 12px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
  transition: ease-in-out all 0.3s;
}

.content-courses__item-btn_2 {
  transform: translateX(-50%) rotate(90deg);
}

.content-courses__text {
  transition: ease-in-out all 0.3s;
  height: 0;
  opacity: 0;
}

.reviews {
  margin-bottom: 50px;
}

.reviews__content {
  background: #ffffff;
  padding: 30px 40px;
}

.reviews_title {
  margin-bottom: 35px;
  font-size: 25px;
  font-weight: 700;
}

.reviews__table {
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 550px));
  grid-template-rows: repeat(2, auto);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
@media screen and (max-width: 767px) {
  .reviews__table {
    grid-template-columns: repeat(1, minmax(300px, 550px));
  }
}
@media screen and (max-width: 575px) {
  .reviews__table {
    grid-template-columns: repeat(1, minmax(200px, 550px));
  }
}

.reviews__table-item {
  padding: 20px;
  border: 1px solid #E2E2E2;
}

.reviews__top {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 575px) {
  .reviews__top {
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
}

.reviews__name {
  margin-right: 20px;
  max-width: 430px;
  width: 100%;
}
@media screen and (max-width: 991px) {
  .reviews__name strong {
    font-size: 14px;
  }
}
@media screen and (max-width: 767px) {
  .reviews__name {
    margin-right: 0;
  }
  .reviews__name strong {
    font-size: 16px;
  }
}
@media screen and (max-width: 575px) {
  .reviews__name {
    margin-bottom: 10px;
  }
  .reviews__name strong {
    font-size: 14px;
  }
}

.reviews__name-title {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
}
@media screen and (max-width: 991px) {
  .reviews__name-title {
    font-size: 18px;
  }
}

.reviews__stars {
  display: flex;
  font-size: 16px;
}

@media screen and (max-width: 575px) {
  .reviews__text {
    font-size: 14px;
  }
}

.categories {
  margin-top: 40px;
}

.categories__title {
  background: #ffffff;
  padding: 30px 20px;
  width: 100%;
  font-size: 26px;
}

.categories__table {
  padding: 20px;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  background: #ffffff;
  justify-content: center;
}
@media screen and (max-width: 991px) {
  .categories__table {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 767px) {
  .categories__table {
    grid-template-columns: 1fr;
  }
}

.categories__table-item {
  display: block;
  border-radius: 20px;
  overflow: hidden;
  background: #ffffff;
  transition: ease-in-out all 0.3s;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.031372549), 0 0 2px rgba(0, 0, 0, 0.0588235294), 0 2px 6px rgba(0, 0, 0, 0.1215686275);
}
.categories__table-item:hover {
  -webkit-box-shadow: -1px 4px 22px 2px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: -1px 4px 22px 2px rgba(0, 0, 0, 0.35);
  box-shadow: -1px 4px 22px 2px rgba(0, 0, 0, 0.35);
  transform: scale(1.01);
}

.categories__item-description {
  padding: 15px;
  word-wrap: break-word;
}
.categories__item-description h2, .categories__item-description h3, .categories__item-description h4, .categories__item-description h5, .categories__item-description h6 {
  margin-bottom: 5px;
}

.categories__item-img {
  height: 180px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.categories__item-img img {
  width: 100%;
  object-fit: contain;
}

.footer {
  width: 100%;
  margin: auto auto 0;
  background: #000000;
  padding: 60px 0;
}
.footer p, .footer em, .footer strong, .footer ul, .footer li, .footer span, .footer h1, .footer h2, .footer h3, .footer h4, .footer h5, .footer h6, .footer div, .footer a, .footer button {
  color: #ffffff;
}

.footer__row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .footer__row {
    flex-flow: column;
  }
}

.footer__links {
  display: flex;
  flex-flow: column;
  padding: 0 10px;
}
.footer__links a {
  transition: ease-in-out all 0.3s;
}
.footer__links a:last-child {
  margin-top: 15px;
}
.footer__links a:hover {
  transform: translateY(-2px);
}
@media screen and (max-width: 767px) {
  .footer__links a {
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  .footer__links {
    padding: 10px 10px;
  }
}

.footer__img {
  max-width: 100px;
  width: 100%;
  min-width: 60px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__img img {
  object-fit: contain;
}
@media screen and (max-width: 767px) {
  .footer__img {
    padding: 10px 0;
  }
}

.footer__subtitle {
  font-size: 12px;
  max-width: 600px;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .footer__subtitle {
    padding: 10px 0;
    text-align: center;
  }
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
@media screen and (max-width: 767px) {
  .slick-slide .project-content img {
    display: none;
  }
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 99%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: 44%;
}
@media screen and (max-width: 767px) {
  .slick-prev {
    left: 40%;
  }
}
[dir=rtl] .slick-prev {
  left: auto;
  right: -25px;
}
.slick-prev:before {
  content: "←";
}
[dir=rtl] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: 48%;
}
@media screen and (max-width: 767px) {
  .slick-next {
    right: 42%;
  }
}
[dir=rtl] .slick-next {
  left: -25px;
  right: auto;
}
.slick-next:before {
  content: "→";
}
[dir=rtl] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

/* Слайдер */
/* Ограничевающая оболочка */
/* Лента слайдов */
/* Слайд */
/* Слайд активный */
/* Слайд основной */
/* Слайд по центру */
/* Точки*/
/* Ограничевающая оболочка */
/* Лента слайдов */
/* Слайд */
/* Слайд активный */
/* Слайд основной */
/* Слайд по центру */
/* Стрелка */
/* Стрелка влево */
/* Стрелка вправо */
/* Стрелка не активная */
/* Точки*/
/* Ограничевающая оболочка */
/* Лента слайдов */
/* Слайд */
/* Слайд активный */
/* Слайд основной */
/* Слайд по центру */
/* Стрелка влево */
/* Стрелка вправо */
/* Стрелка не активная */
/* Точки*/
/* Конкретный слайдер*/
.popup {
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  overflow-y: auto;
  overflow-x: hidden;
}
.popup.active {
  z-index: 100;
  opacity: 1;
  visibility: unset;
}

/*# sourceMappingURL=styles.css.map */
